---
import './Purposes.scss';
---

<section id="purposes" class="feature-grid">
  <div class="purpose-development">
    <div>
      <img src="/src/assets/icon-development.png" />
    </div>
    <div class="feature-group">
      <h2>
        Community Services
      </h2>
      <h3>
        Development Spending
      </h3>
      <p>
        All donations are spent on active development of Lume Web and maintaining community services.
      </p>
    </div>
  </div>
  <div class="purpose-pioneering">
    <div>
      <img src="/src/assets/icon-pioneering.png" />
    </div>
    <div class="feature-group">
      <h2>
        Build what you want
      </h2>
      <h3>
        Help pioneer Web3
      </h3>
      <p>
        The Web3 is taking back the internet to be the user-owned internet. If we, the users, don't fund and build what we want, it will be again, decided for us, and benefit others and become centralized to a few, not decentralized for the many.
      </p>
    </div>
  </div>
  <div class="purpose-growth">
    <div>
      <img src="/src/assets/icon-growth.png" />
    </div>
    <div class="feature-group">
      <h2>
        Open gateway
      </h2>
      <h3>
        Help us grow
      </h3>
      <p>
        We need the communities voice and hands. Lume Web is your open gateway and platform, so it must be built by those who are going to use it the most.
      </p>
    </div>
  </div>
</section>
