---
import './Support.scss';
import svgSia from '/src/assets/sia.svg?raw';
import svgHns from '/src/assets/hns.svg?raw';
import svgOsi from '/src/assets/osi.svg?raw';
---

<section id="support">
    <div>
        <div class="powered-by">
            <a href="https://sia.tech" title="Sia" class="sia-logo">
                <Fragment set:html={svgSia}/>
            </a>
            <a href="https://handshake.org" title="Handshake" class="hns-logo">
                <Fragment set:html={svgHns}/>
            </a>
            <a href="https://opensource.org/osd/" title="Open Source Initiative" class="osi-logo">
                <Fragment set:html={svgOsi}/>
            </a>
        </div>
        <div class="feature-group">
            <h2>
                Access Web3
            </h2>
            <h3>
                Support Lume Web, help us build
            </h3>
            <p>
                The future of the web that <i>we</i> want only happen if <i>we</i>, the users, build it. The internet
                for decades has been in a ideological and power battle of freedom vs safety, which means censorship.
            </p>
            <p>
                We are just now starting to have all the legos we need to enable freedom through technology, but it
                needs your support, in whatever way you can provide, to bring it to life.
            </p>
            <div>
                <a href="https://lumeweb.com/donate" class="btn-main">Make a donation</a>
            </div>
        </div>
    </div>
</section>
