@import "./mixins.scss";
@import "./vars.scss";

@import url("https://fonts.googleapis.com/css?family=Jaldi:400|JetBrains+Mono:300,400,700");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  display: flex;
  flex-direction: column;
  min-width: 20rem;
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-family: $font-family-jetbrains-mono;
  background: $color-blue-charcoal-2;
  color: $color-white;
  overflow-x: hidden;
  overflow-y: scroll;

  &.scroll-lock {
    overflow-y: hidden;
  }
}

main {
  @include fluid-font-size(0.625rem);
  flex-grow: 1;
}

a, button {
  transition: color $transition-duration;
}

.btn-main {
    display: inline-block;
    padding: 0.5em 2em;
    @include fluid-font-size(1.375rem);
    color: $color-black;
    background: $color-brand;
    border: 0.05em solid $color-brand;
    border-radius: 0.25em;
    transition: color $transition-duration, background $transition-duration;
    white-space: nowrap;

    &:hover {
        color: $color-white;
        background: $color-blue-charcoal;
    }
}

.feature-group {
  h2 {
    margin-bottom: 1em;
    @include fluid-font-size(1.5rem);
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
    color: $color-brand;
  }

  h3 {
    margin-bottom: 0.65em;
    @include fluid-font-size(2.8125rem);
    font-weight: 700;
    line-height: 109%;
  }

  h2, h3 {
    text-shadow: 0.017em 0.017em 0.034em rgba($color-black, 0.65);
  }

  p {
    @include fluid-font-size(1.5rem);
    font-family: $font-family-jaldi;
    line-height: 148%;
    color: $color-cloud;
    transition: background $transition-duration;
  }

  p + p {
    margin-top: 0.78em;
  }

  .btn-main {
    font-family: $font-family-jaldi;
    margin-top: 1.57em;
  }
}

.feature-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 6em;
  padding: 11em 7.5% 10em;

  @media screen and (min-width: 56rem) {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    gap: 5%;
  }

  > div {
    display: flex;

    > div:first-child {
      flex-shrink: 0;
    }

    img {
      margin: 4em 2.5em 0 0;
    }

    @media screen and (min-width: 56rem) and (max-width: 67rem) {
      flex-direction: column;

      img {
        margin: 0 0 2em;
      }
    }
  }

  h3 {
    @include fluid-font-size(2.25rem);
  }
}

.tilted-bg {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: -5%;
    bottom: 0;
    left: -5%;
    margin: 2% 0;
    background: $color-blue-charcoal;
    transform: matrix(1, -0.04, 0.04, 1, 0, 0);
    z-index: -1;
  }
}

.tilted-bg-r {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: -5%;
    bottom: 0;
    left: -5%;
    margin: 2% 0;
    background: $color-blue-charcoal;
    transform: matrix(1, 0.04, -0.04, 1, 0, 0);
    z-index: -1;
  }
}

main.home {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: min(0em, calc((100% - 96.3em) / 2));
    width: 96.3em;
    height: 93.9em;
    background: url("/src/assets/home-bg.png");
    background-position: top right;
    background-size: contain;
    z-index: -1;
    min-width: 20rem;
  }
}

main.donate {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: min(0em, calc((100% - 96.3em) / 2));
    width: 96.3em;
    height: 93.9em;
    background: url("/src/assets/home-bg.png");
    background-position: top right;
    background-size: contain;
    z-index: -1;
    min-width: 20rem;
  }
}
