$color-black: #000;
$color-white: #fff;
$color-blue-charcoal: #020e10;
$color-blue-charcoal-2: #031418;
$color-aquamarine: #7afcbb;
$color-cloud: #c7c7c7;
$color-alto: #d9d9d9;
$color-brand: #fc8a7a;

$font-family-jaldi: "Jaldi", sans-serif;
$font-family-jetbrains-mono: "JetBrains Mono", sans-serif;

$transition-duration: 250ms;
