---
import './Difference.scss';
---

<section id="difference" class="tilted-bg-r">
  <div>
    <div class="feature-group">
      <h2>
        Powered by you
      </h2>
      <h3>
        How we&rsquo;re different
      </h3>
      <p>
        The .com boom/bubble/bust was a gold rush for VC's and everyone looking to get rich. We've entered that era again with crypto, web3, and the "metaverse". The metaverse is PR hype and not worth pursuing. Lume Web has no VC equity and will never give out equity to investment companies since their interests go against a user-owned internet.
      </p>
    </div>
  </div>
</section>
