---
import './Message.scss';
---

<section id="message">
  <h2>
    Free Yourself
  </h2>
  <p>
    We have had decentralized internet for a while now (decades) in various forms, so consider Web3 an upgrade that combines many of these attempts + blockchain, into an evolution for the user-owned internet, rather than us, the user, becoming batteries in the matrix.
  </p>
</section>
