---
import "./Footer.scss";

import logo from "/src/assets/lume-logo.png";
import icon from "/src/assets/footer-icon.png";
---

<footer>
  <div>
    <div class="logo">
      <a href="/">
        <img src={logo.src} alt="Lume"/>
      </a>
    </div>
    <div class="contact">
      <a href="mailto:contact@lumeweb.com">
        <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
        </svg>
        contact@lumeweb.com
      </a>
    </div>
  </div>
  <div class="gateway-icon">
      <a href="https://git.lumeweb.com">
          <img src={icon.src}/>
      </a>
  </div>
  <div>
    <div class="phrase">
      Freedom. Privacy. Ownership.
    </div>
  </div>
</footer>
