---
import './HowToSupport.scss';
---

<section id="how-to-support">
  <h2>
    How to support Lume Web
  </h2>
  <p>
    We aren't picky &#128521;. If there is a way you want to pay us, we are happy to take it. The project is funded through Hammer Technologies LLC, in the USA, and so crypto, FOSS platforms, and traditional payment methods are all accepted! Just click donate at the top to see your options, and to contact us if needed.
  </p>
</section>
