---
import './Features.scss';
---

<section id="features" class="feature-grid">
  <div class="feature-private">
    <div>
      <img src="/src/assets/icon-private.png" />
    </div>
    <div class="feature-group">
      <h2>
        Encrypted Data
      </h2>
      <h3>
        It&rsquo;s private
      </h3>
      <p>
        There is no sign-up required to browse web3. You do not even need to provide an email for basic use. Additionally, if you do create an account, all data is encrypted with your password.
      </p>
    </div>
  </div>
  <div class="feature-personal">
    <div>
      <img src="/src/assets/icon-personal.png" />
    </div>
    <div class="feature-group">
      <h2>
        Owned by You
      </h2>
      <h3>
        It&rsquo;s personal
      </h3>
      <p>
        Everything you do is owned by you. Your data is not controlled or owned by others. You are free to share copies to let others own a version or keep encrypted in your account.
      </p>
    </div>
  </div>
  <div class="feature-gateway">
    <div>
      <img src="/src/assets/icon-gateway.png" />
    </div>
    <div class="feature-group">
      <h2>
        Privacy Built-in
      </h2>
      <h3>
        It&rsquo;s your gateway
      </h3>
      <p>
        Gain freedom on a new web, owned by its users, and with privacy and control built-in.
      </p>
    </div>
  </div>
</section>
