---
import './Access.scss';
---

<section id="access" class="tilted-bg">
  <div>
    <div class="feature-group">
      <h2>
        Access Web3
      </h2>
      <h3>
        Lume Web grants you access to Web3
      </h3>
      <p>
        There's a lot of hype around "Web3" and "The Metaverse" as people see money in it, similar to the second .com boom. However, many platforms claiming to be "Web3" are just trying to make money off you and aren't truly secure or decentralized.
      </p>
      <p>
        While some services have technology that can be building blocks for the next internet, many become centralized "SaaS" services that aim to sell something, creating another walled garden with blockchain technology mixed in.
      </p>
    </div>
  </div>
</section>
